version: "3"
services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_DATABASE: hansei_market
      MYSQL_ALLOW_EMPTY_PASSWORD: true
    volumes:
      - ./db/data:/var/lib/mysql
    ports:
      - "3306:3306"
    restart: always

  hansei_market:
    image: janpll0421/hansei-market:latest
    container_name: hansei-market
    depends_on:
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DATA_SSOURCE: jdbc:mysql://mysql:3306/hansei_market
    ports:
      - "8080:8080"
    restart: always
